.titleDecoration {
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;

  &::before {
    content: url("https://foodingly.netlify.app/assets/img/icon/arrow-left.png");
    height: 100%;
  }

  &::after {
    content: url("https://foodingly.netlify.app/assets/img/icon/arrow-right.png");
    height: 100%;
  }
}

.titleUnderlined {
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 0;
  padding-bottom: 40px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }

  &::after {
    background-color: $lime-green;
    display: block;
    content: "";
    height: 2px;
    margin: 20px auto 0;
    width: 200px;
  }
}
