$font-primary: "Roboto", sans-serif;
$font-secundary: "Poppins", sans-serif;

$cream: #FCECEB;
$lime-green: #80C100;
$red: #ff0000;
$white: #fff;
$black: #2B2540;
$grey: (
    transparent: #dbdbdb78,
    medium: #818090,
    light: #E5E5E5,
    ligthest:#F3F6FD,
    whiteish: #f7f7f7
);

$blue: (
    light: #DBEEFD,
    greyish: #677294,
);

$transition-ease: .4s all ease-in-out;

$default-padding: 1415px;

$box-shadow: (
    light: 0 0 15px 0 rgb(0 0 0 / 10%),
    click-menu: 0 0 1.25rem rgb(108 118 134 / 10%),
    form: 0px 1px 13px 0px #0000000d,
);

$contactform-boxshadow: -4px -4px 16px rgba(0, 0, 0, 0.08), 4px 8px 16px rgba(0, 0, 0, 0.08);
$contactcard-boxshadow: -4px -5px 14px rgb(0 0 0 / 8%), 5px 8px 16px rgb(0 0 0 / 8%);

