.AppBar {
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  background-color: $white;
  position: sticky;
  top: 0;
  padding: 12px 0;
  width: 100%;
  z-index: 5;

  @include media-breakpoint-down(lg) {
    padding: 15px 35px;
  }

  @include media-breakpoint-down(sm) {
    padding: 15px 12px;
  }

  &-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $default-padding;
  }

  &-logo {
    height: 40px;
    width: 197px;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
      height: 35px;
      width: 175px;
    }
  }

  &-menu {
    align-items: center;
    display: flex;
    gap: 48px;
    margin-left: 60px;
    margin-bottom: 0;
    width: 100%;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-link {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 20px;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &-shopping {
    position: relative;
  }

  &-icon {
    cursor: pointer;
    font-size: 22px;

    &.green {
      color: $lime-green;
    }
    
    &.notification {
      &::after {
        align-items: center;
        background-color: $lime-green;
        border-radius: 50%;
        bottom: 10px;
        color: $white;
        content: attr(data-content);
        display: flex;
        font-family: $font-primary;
        font-size: 9px;
        height: 15px;
        justify-content: center;
        left: 8px;
        position: absolute;
        width: 15px;
      }
    }
  }

  &-item {
    cursor: pointer;
    font-family: $font-secundary;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    list-style: none;
    padding: 10px 0;
    transition: $transition-ease;

    &.FoodMenu {
      &:hover {
        .AppBarDropdown {
          opacity: 1;
          transform: translateY(4px);
          visibility: visible;
        }
      }
    }
    &.BlogD {
      &:hover {
        .AppBarDropdown {
          opacity: 1;
          transform: translateY(4px);
          visibility: visible;
        }
      }
    }
    &.Page {
      &:hover {
        .AppBarDropdown {
          opacity: 1;
          transform: translateY(4px);
          visibility: visible;
        }
      }
    }
  }

  &-options {
    display: flex;
  }

  &Dropdown {
    opacity: 0;
    visibility: hidden;
    background-color: $white;
    border-radius: 8px;
    box-shadow: map-get($box-shadow, light);
    list-style: none;
    margin-top: 8px;
    padding: 10px 0;
    position: absolute;
    transition: $transition-ease;
    transform: translateY(80px);
    width: 230px;

    &-item {
      padding: 10px 25px;
      font-size: 15px;
      font-weight: 500;

      &:hover {
        background-color: map-get($grey, whiteish);
      }
    }

    &-link {
      color: $black;
      text-decoration: none;
      transition: $transition-ease;

      &:hover {
        color: $lime-green;
      }
    }
  }

  &Mobile {
    display: none;

    @include media-breakpoint-down(lg) {
      display: flex;
    }

    &-icon {
      color: $black;
      font-size: 25px;
    }
  }

  &Options {
    color: $white;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    box-shadow: none;

    &:hover {
      background-color: transparent;
      color: $black;
      transition: all 0.3s ease-in-out 0.1s;
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: none;
      color: $white;
      outline: none;
    }

    &-menu {
      border: none;
      border-radius: 0;
      box-shadow: map-get($box-shadow, light);
      margin-top: 13px;
      padding: 15px;
      text-align: center;
      transform: translate3d(50px, 41px, 0px);
      width: 190px;
      transition: $transition-ease;
    }

    &-icon {
      color: map-get($grey, medium);
      font-size: 22px;
    }
  }

  &Nav {
    color: $white;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    box-shadow: none;

    &:hover {
      background-color: transparent;
      color: $black;
      transition: all 0.3s ease-in-out 0.1s;
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
      border: none;
      color: $white;
      outline: none;
    }
    &-menu {
      border: none;
      border-radius: 0;
      height: 238px;
      margin-top: 12px;
      overflow: scroll;
      padding: 0;
      width: 696px;

      @include media-breakpoint-down(sm) {
        width: 349px;
      }
    }

    &-item {
      color: map-get($blue, greyish);
      font-family: $font-primary;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      padding: 15px 34px;
      border-top: 1px solid map-get($blue, light);
    }
  }
}
