.button {
  background-color: $lime-green;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: $white;
  display: inline-block;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 35px;
  transition: $transition-ease;

  @include media-breakpoint-down(lg) {
    font-size: 15px;
    padding: 12px 20px;
  }

  &:hover, &:focus{
    box-shadow: inset 0 -3.25em 0 0 $black;
    color: $white;
  }

  &.input {
    border-radius: 0 5px 5px 0;
  }

  &.slim{
    font-size: 14px;
    padding: 5px 18px;
  }
}
