.Cart {
  background-color: $white;
  height: 100vh;
  line-height: 1.2;
  position: fixed;
  right: 0;
  transition: $transition-ease;
  top: 0;
  width: 0;

  &-visible {
    width: 320px;
    transition: $transition-ease;
    padding: 25px 15px;
  }

  &-header {
    align-items: center;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
  }

  &-title {
    font-family: $font-primary;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &Product,
  &-footer {
    align-items: center;
    border-bottom: 1px dashed map-get($grey, light);
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &Product {
    &-info {
      display: flex;
    }
    &:hover {
      .Cart-delete {
        opacity: 1;
      }
    }
  }

  &-delete {
    opacity: 0;
    transition: $transition-ease;

    &:hover {
      color: $red;
    }
  }

  &-image {
    height: 35px;
    width: 55px;
    margin-right: 20px;
  }

  &-content {
    font-family: $font-primary;
    font-weight: 400;
    margin-right: 20px;
    text-transform: capitalize;
  }

  &-name {
    color: $lime-green;
    font-size: 15px;
    margin-bottom: 5px;
  }

  &-price {
    color: $black;
    font-family: $font-primary;
    font-size: 14px;
    line-height: 1.5;
  }

  &-span{
    font-size: 13px;
  }

  &-footer {
    color: $black;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &-subtotal {
    margin-bottom: 0;
  }

  &-fallback{
    margin-bottom: 15px;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
  }
}
