.link {
  background-color: $lime-green;
  border-radius: 5px;
  cursor: pointer;
  color: $white;
  display: inline-block;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 35px;
  transition: $transition-ease;
  text-decoration: none;

  @include media-breakpoint-down(lg) {
    font-size: 15px;
    padding: 12px 20px;
  }

  &:hover, &:focus{
    box-shadow: inset 0 -3.25em 0 0 $black;
    color: $white;
  }

  &.Secondary{
    border: 2px solid $lime-green;
    font-size: 16px;
    padding: 7px 10px;

    &:hover, &:focus{
      box-shadow: inset 0 -3.25em 0 0 $white;
      color: $black;
    }

  }
}
