.Product {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  @include media-breakpoint-down(lg) {
    justify-content: space-between;
    gap: 30px;
  }

  &-container {
    margin: 0 auto;
    max-width: $default-padding;
  }

  &-categories {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 auto;
      max-width: 600px;
    }
  }

  &-tab {
    background-color: $lime-green;
    border: 1px solid transparent;
    border-radius: 5px;
    color: $white;
    padding: 8px 30px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;


    @include media-breakpoint-down(lg) {
      background-color: transparent;
      border-color: $lime-green;
      color: $black;
      padding: 6px 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      padding: 4px 12px;
    }
  }

  &-active {
    color: $black;
    border: 1px solid $white;

    @include media-breakpoint-down(lg) {
      background-color: $lime-green;
    }
  }

  &Card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    transition: $transition-ease;
    width: 334px;

    &:hover {
      box-shadow: 4px 14px 28px rgb(0 0 0 / 10%);

      .ProductCard-image {
        transform: scale(1.2);
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    &-header {
      padding: 10px;
      position: relative;
    }

    &-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 198px;
      transition: $transition-ease;
      width: 100%;
    }

    &-discount {
      align-items: center;
      background-color: $lime-green;
      border-radius: 50px;
      bottom: 5px;
      color: $white;
      display: flex;
      font-family: $font-primary;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      height: 45px;
      line-height: 45px;
      position: absolute;
      right: 12px;
      width: 45px;
    }

    &-content {
      padding: 20px 15px 0;
    }

    &-title {
      margin: 0;
      padding-bottom: 10px;
    }

    &-link {
      color: $black;
      font-family: $font-primary;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      text-decoration: none;
      text-transform: capitalize;

      &:hover {
        color: $lime-green;
      }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-text {
      color: map-get($grey, medium);
      font-family: $font-secundary;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      margin-bottom: 0;
      padding-bottom: 10px;
    }

    &-rating {
      color: $lime-green;
      margin-right: 10px;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      padding: 0 15px 20px;
    }

    &-price {
      color: $black;
      margin: 0;
      font-family: $font-primary;
      font-size: 24px;
      font-weight: 500;
    }

    &-button {
      background-color: transparent;
      border: 1px solid $lime-green;
      border-radius: 5px;
      color: $black;
      display: inline-block;
      font-family: $font-primary;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      padding: 5px 18px;
      transition: $transition-ease;

      &:hover {
        background-color: $black;
        border-color: $black;
        color: $white;
      }
    }
  }
}
